.gitattributes
.gitignore

.editorconfig
.eslintrc.json
.mocharc.json
.nycrc.json
.env

README.md

rollup.config.js
tsconfig.es6.json
tsconfig.json
typedoc.json

.nyc_output/
.github/
coverage/
scripts/
docs/
test/
src/
